<div>
	<div class="inner">
		<div class="row" style="padding-top: 3em ; padding-bottom: 3em;">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
			</div>
			<div class="col-xs-3"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">姓名：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">年齡：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">性別：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">地址：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">信箱：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">電話：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">點數：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">經驗：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">自我介紹：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">稱號：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">電話：</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>