<div>
	<div class="inner">
		<div class="row" style="padding-top: 6em ; padding-bottom: 3em;">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
			</div>
			<div class="col-xs-3"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">姓名：陳小銘</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">年齡：23</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">性別：男</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">點數：45</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">經驗：87.75</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">稱號：解任務的冒險者</div>
			<div class="col-xs-6"></div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>