<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">TKU HONOR admin</a>
    </div>
    <ul class="nav">
        <!-- <li id='index'>
            <a href="index.php">
                <i class="ti-panel"></i><p>首頁</p>
            </a>
        </li> -->
        <li id='user'>
            <a href="user.php">
                <i class="ti-user"></i><p>人員名單</p>
            </a>
        </li>
        <li id='news'>
            <a href="news.php">
                <i class="ti-comments"></i><p>最新消息</p>
            </a>
        </li>
        <li id='data'>
            <a href="data.php">
                <i class="ti-files"></i><p>檔案下載</p>
            </a>
        </li>
        <li id='activity'>
            <a href="activity.php">
                <i class="ti-gallery"></i><p>活動花絮</p>
            </a>
        </li>
        <li id='link'>
            <a href="link.php">
                <i class="ti-world"></i><p>相關連結</p>
            </a>
        </li>
        <li id='messageBoard'>
            <a href="messageBoard.php">
                <i class="ti-clipboard"></i><p>留言板</p>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    // if(pageCode === 'index'){
    //     $('#index').addClass('active') ;
    // }else
    if(pageCode === "user"){
        $('#user').addClass('active') ;
    }else if(pageCode === "news"){
        $('#news').addClass('active') ;
    }else if(pageCode === "data"){
        $('#data').addClass('active') ;
    }else if(pageCode === "activity"){
        $('#activity').addClass('active') ;
    }else if(pageCode === "link"){
        $('#link').addClass('active') ;
    }else if(pageCode === "messageBoard"){
        $('#messageBoard').addClass('active') ;
    }else{
        // do something ...
    }
</script>